*{
    margin: 0px;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #15151a;
}


nav{
    height: 60px;
    background-color: #161616;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: auto;
    
}

#logo{
    color: #FFD700;
    font-size: 40px;
    cursor: pointer;
}

#logo:hover{
    color: #6c63ff;
}

#logo:hover >span{
    color: #FFD700;
}

span{
    color: #6c63ff;
}

.logsign a{
    margin: 10px;
}




.options a{
    margin: 30px;
    color: #868686;
    transition: 0.25s;
    
}

.options a:hover{
    color: #6c63ff;
}




.login{
    font-weight: bold;
    /* position: absolute; */
    /* top: 10px; */
    padding: 10px 20px;
    /* right: 140px; */
    color:   #6c63ff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    background-color: none  ;
    transition: 0.25s;
    /* border: 2px solid  #6c63ff; */
 
}
.login:hover{
    background-color:#2f2e41;
    color: #FFD700;
    /* border: 2px solid  #2f2e41; */
    border-top: 2px solid  #FFD700;
}


.sign{
    font-weight: bold;
    /* position: absolute; */
    /* top: 10px; */
    padding: 10px 20px;
    /* right: 10px; */
    color:   #6c63ff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    background-color: none  ;
    transition: 0.25s;
    /* border: 2px solid  #6c63ff; */
   
}
.sign:hover{
    background-color:#2f2e41;
    color: #50fa7b;
    border-top: 2px solid  #50fa7b;
}

/* ................................................................ */

